<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>

  <ion-card>
    <ion-card-header>
      <img id="profile-image" src="{{user.image}}">
    </ion-card-header>
    <div class="linea"></div>
    <ion-card-title>
      {{user.nombre}} {{user.apellidos}}
    </ion-card-title>
    <ion-card-content>
      <h6><ion-icon name="mail-outline"></ion-icon> {{user.email}}</h6>
      <h6><ion-icon name="call-outline"></ion-icon> {{user.movil}}</h6>
    </ion-card-content>
    
  </ion-card>
</ion-content>