<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>

  <ion-card>
    <ion-card-header>
      <img id="profile-image" src="{{user.image}}">
    </ion-card-header>
    <div class="linea"></div>
    <ion-card-title>
      {{user.nombre}} {{user.apellidos}}
    </ion-card-title>
    <ion-card-content>
      <ion-card-title>{{user.Nombre}} {{user.Apellidos}}</ion-card-title>
      <h6><ion-icon name="mail-outline"></ion-icon> {{user.email}}</h6>
      <h6><ion-icon name="call-outline"></ion-icon> {{user.Movil}}</h6>
      <ion-button fill="clear"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      <ion-button fill="clear" ><ion-icon name="log-out-outline"></ion-icon></ion-button>
      <ion-button fill="clear" ><ion-icon color="danger" name="trash-outline"></ion-icon></ion-button>
      
    </ion-card-content>
    
  </ion-card>
</ion-content>