<ion-content padding>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>
  <ion-list>
    <ion-list-header><ion-searchbar color="primary" (ionChange)="buscarProveedor($event)"></ion-searchbar>
      <ion-select placeholder="Categoría" (ionChange)="categoriaProveedor($event)">
              <ion-select-option value="Todo">Todo</ion-select-option>
              <ion-select-option value="Cereales">Cereales</ion-select-option>
              <ion-select-option value="Congelados">Congelados</ion-select-option>
              <ion-select-option value="Limpieza">Limpieza</ion-select-option>
              <ion-select-option value="Lácteos">Lácteos</ion-select-option>
              <ion-select-option value="Conservas">Conservas</ion-select-option>
              <ion-select-option value="Cárnicas">Cárnicas</ion-select-option>
      </ion-select> 
    </ion-list-header>

    <ion-item *ngFor="let proveedor of proveedores" (click)="verProveedores(proveedor)">
      <div class="container">
        <h4>{{proveedor.Nombre}}</h4><ion-button (click)="pedidoProveedor(proveedor);$event.stopPropagation();" class="cart" fill="clear"><ion-icon class="cart" name="cart-outline"></ion-icon></ion-button>
        <h6><ion-icon name="mail-outline"></ion-icon>{{proveedor.Email}}</h6>
        <p><ion-icon name="call-outline"></ion-icon>{{proveedor.Movil}}</p>
        <p><ion-icon name="filter-circle-outline"></ion-icon>
          {{proveedor.Categoria}}</p>       
      </div>
      

    </ion-item>

  </ion-list>

</ion-content>