ion-content {
    --padding-start: 10%;
    --padding-end: 10%;
    /* --background: url('https://img.freepik.com/free-vector/continuous-one-line-drawing-cup-coffee-minimalist-design-minimalism-style_201915-27.jpg?w=2000') 0 0/100% 100% no-repeat; */
    --background: linear-gradient(197deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 13.5%, rgb(218, 192, 151) 33.33%, rgb(110, 67, 7) 100%) !important;
}

ion-card{
    margin: auto;
    --ion-background-color: white;
    text-align: center;
    top: -5%;
    font-family: roboto-light;
}


/* 
ion-content{ --ion-background-color:#f4d8a2; } */

ion-button{
    margin: 1rem;
    --ion-color-primary: #e8c39e;
    font-family: roboto-thin;
    --border-radius: 25px;
}



img {
    height: 25vh;
    width: auto;
    margin: auto;
    display: block;
}

ion-icon {
    margin-right: 15px;
    color: #e8c39e;
}

ion-card-title{
    font-family: pacifico;
    color: #e8c39e;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 2.5px 0px 8px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    margin-bottom: 15px;
}

ion-item{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}