ion-list-header{
    width: 500px;
    margin: auto
}

ion-button{
    --ion-color-primary: #bd7732;
}

ion-item {
    font-family: roboto-thin;
    margin-right: 15px;
}

h4 {
    color: #bd7732;
}

ion-select{
    color: #bd7732;
    margin-left: 5px;
}

ion-icon{
    margin-right: 10px;
    color: #b3702e;
    float: right;
}

.container{
    width: 100%;
}

#entregar{
    float: right;
}

ion-card-title{
    color: #bd7732; 
    font-family: pacifico;
    text-align: center;
    margin-top: 10px;
}