<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>
  <ion-card-title>
    Pedidos a Proveedores
  </ion-card-title>
  <ion-searchbar (ionChange)="buscar($event)" ></ion-searchbar>
  <div>
    
  </div>
  <ion-list>
    <ion-list-header text-center>
      <ion-item >
        <ion-button (click)="todos()" >Todos</ion-button>
        <ion-button (click)="pedidosPorEntregar()" >Por Entregar</ion-button>
        <ion-button (click)="pedidosEntregados()" >Entregados</ion-button>
        <ion-select placeholder="Proveedor" (ionChange)="categoria($event)">
          <ion-select-option value="Todos" >Todos</ion-select-option>
          <ion-select-option *ngFor="let item of proveedores" value="{{item.Nombre}}" >{{item.Nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list-header>
    <ion-item *ngFor="let pedido of pedidos; let i = index" (click)="consultarPedido(pedido, i)">
      <div class="container">
        <h4>Proveedor: {{pedido.Nombre}}</h4><ion-button *ngIf="pedido.Entregado == false" id="entregar" fill="clear" (click)="marcarEntregado(pedido);$event.stopPropagation();" ><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
        <ion-card-subtitle>ID: {{pedido.id}}</ion-card-subtitle>
        <h6>Fecha de pedido: {{pedido.fecha}}</h6>
        <ion-card-subtitle>Importe: {{pedido.Total.toFixed(2)}}€</ion-card-subtitle>
      </div>
    </ion-item>

  </ion-list>

</ion-content>