<ion-content>
  <ion-card>
    <ion-card-title>{{producto.Nombre}}</ion-card-title>
    <img src="{{producto.Foto}}">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-label>{{producto.Descripcion}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>{{producto.Precio}} €</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{producto.Precio}} €</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-label>{{producto.Precio}}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>