<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>
  <ion-card-title>
    Pedidos de Clientes
  </ion-card-title>
  <ion-list>
    <ion-list-header text-center>
      <ion-item>
        <ion-button fill="clear">Por Entregar</ion-button>
        <ion-button>Entregados</ion-button>
        <ion-select placeholder="Cliente"></ion-select>
        <input id="fecha" type="date">
      </ion-item>
    </ion-list-header>

    <ion-item *ngFor="let pedido of pedidos" (click)="consultarPedido(pedido)">
      <div class="container">
        <h4>Cliente: {{pedido.Nombre}}</h4><ion-button *ngIf="pedido.Entregado == false" id="entregar" fill="clear" (click)="marcarEntregado(pedido);$event.stopPropagation();" ><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
        <h6>Fecha de pedido: {{pedido.fecha}}</h6>
        <ion-card-subtitle>Importe: {{pedido.Total.toFixed(2)}}€</ion-card-subtitle>
      </div>
    </ion-item>

  </ion-list>

</ion-content>