<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cliente</ion-card-subtitle>
      <ion-button fill="clear" (click)="borrarPedido()" ><ion-icon class="boton" color="danger" name="close-circle-outline"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="enviarEmail()"><ion-icon class="boton" name="mail-outline"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="crearPDF()"><ion-icon class="boton" name="document-outline"></ion-icon></ion-button>
      <ion-card-title>{{pedido.Nombre}}</ion-card-title>
      <ion-card-subtitle>Fecha de pedido:</ion-card-subtitle>
      <h4>{{pedido.fecha}}</h4>
      <ion-card-subtitle>Estado del Pedido: </ion-card-subtitle>
      <div class="half">
        <h4 *ngIf="pedido.Entregado == false" id="danger"> Por entregar </h4>
        <h4 *ngIf="pedido.Entregado == true"> Entregado</h4>
        <ion-button  *ngIf="pedido.Entregado == false" fill="clear" ><ion-icon id="boton-entregar"  color="success" name="checkmark-circle-outline"></ion-icon></ion-button>
      </div>     
    </ion-card-header>
    <div class="style-sheet-modern">
      <style scooped></style>
      <ion-card-header>
        <h1>Detalles del Pedido:</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col class="col" id="table-header">Nombre Producto</ion-col>
            <ion-col class="col" id="table-header">Cantidad</ion-col>
            <ion-col class="col" id="table-header">Precio</ion-col>
        </ion-row>
        <ion-row *ngFor="let producto of productosPedido">
            <ion-col class="col">{{producto.Nombre}}</ion-col>
            <ion-col class="col">{{producto.Cantidad}}</ion-col>
            <ion-col class="col">{{producto.Precio}} €</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col"></ion-col>
            <ion-col class="col">Importe Total:</ion-col>
            <ion-col class="col">{{pedido.Total}}€</ion-col>
        </ion-row>
        
        
      </ion-grid>
    </ion-card-content>
    </div>
    
  </ion-card>
</ion-content>
