

ion-card-body{
    font-size: large;
    align-items: center;
}

#table-header{
    background-color:#e2c5a8a7;
    font-weight: bold;
}

.col {
    border: solid 1px grey;
}

ion-card-title{
    color: #bd7732;
    width: 60%;
    margin-bottom: 10px;
}

h4{
    color: #bd7732;
}

ion-card{
    font-family: roboto-thin;
}

h1{
    color: #bd7732;
    font: bold;
}


ion-content{
    --background: linear-gradient(197deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 13.5%, rgb(215, 206, 191) 33.33%, rgb(222, 190, 145) 100%) !important;
  }

ion-button{
    --ion-color-primary: #bd7732;
    float: right;
}

ion-icon{
    color: #bd7732;
}

#danger {
    color: rgba(245, 118, 118, 0.797);
    float: left;
    margin-right: -20px;
}

boton-entregar{
    margin-bottom: 10px;
    
}

.half{
    max-width: 170px;
}