ion-card-title{
    font-family: roboto-thin;
}

ion-item{
    margin-right: 20px;
    display: inline-block;
}

ion-label{
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    color: #bd7732;
}

ion-button{
    --ion-color-primary: #bd7732;
}

img{
    width: 150px;
    border-radius: 15px;
}

div {
    width: 100%;
    margin: 20px;
}

ion-content {
    /* --background: url('https://img.freepik.com/free-vector/continuous-one-line-drawing-cup-coffee-minimalist-design-minimalism-style_201915-27.jpg?w=2000') 0 0/100% 100% no-repeat; */
    --background: linear-gradient(197deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 13.5%, rgb(236, 229, 217) 33.33%, rgb(255, 220, 172) 100%) !important;
}