ion-icon{
    margin-right: 5px;
    color: #bd7732;
}

img{
    width: 5vh;
    height: 4vh;
    
}

ion-toolbar{
   text-align: center; 
}

ion-item {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: roboto;
}

#cerrar {
    bottom: 0px;
}