ion-searchbar{
    margin-right: 20px;
    width: 300px;
}

h4 {
    color: #bd7732;
}

ion-item {
    font-family: roboto-thin;
    margin-right: 15px;
}

img{
    height: 140px;
    width: 140px;
    border-radius: 15px;
}

ion-icon{
    color: #bd7732; 
}

ion-card-title{
    color: #bd7732; 
    font-family: pacifico;
    text-align: center;
    margin-top: 10px;
}

ion-input{
    width: 40px;
    margin-left: 25px;
}

ion-row {
    width: 200px;
}

ion-button{
    --ion-color-primary:  #bd7732;
}

#especiales{
    float: right;
}

.container {
    width: 100%;
}

ion-select{
    width: 200px;
}

#filtros {
    text-align: center;
    font-family: roboto-thin;
    color: #b3702e;
}