ion-searchbar{
    margin-right: 20px;
}

h4 {
    color: #bd7732;
}

ion-item {
    font-family: roboto-thin;
    margin-right: 15px;
}

img{
    height: 140px;
    width: 140px;
    border-radius: 15px;
}

ion-icon{
    color: #bd7732; 
}