ion-searchbar{
    margin-right: 20px;
}

h4 {
    color: #bd7732;
}

ion-item {
    font-family: roboto-thin;
    margin-right: 15px;
}

img{
    height: 140px;
    width: 140px;
    border-radius: 15px;
}

.cart {
    float: right;
}

.container{
    width: 100%;
}

ion-icon{
    color: #bd7732; 
    margin-right: 10px;
}

ion-card-title{
    color: #bd7732; 
    font-family: pacifico;
    text-align: center;
    margin-top: 10px;
}


