<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>

  <ion-list>
    <ion-list-header text-center>
      <ion-searchbar></ion-searchbar>
    </ion-list-header> 
    <ion-card-title>
      Clientes
    </ion-card-title>
    <ion-item *ngFor="let cliente of clientes; let i = index" (click)="consultarEmpleado(empleado, i)">
      <ion-card-header>
        <img src="{{cliente.image}}">
      </ion-card-header>
      <div class="container">
        <h4>{{cliente.Nombre}}</h4> <ion-button (click)="realizarPedido(cliente);$event.stopPropagation();" class="cart" fill="clear"><ion-icon class="cart" name="cart-outline"></ion-icon></ion-button>
        <h6><ion-icon name="mail-outline"></ion-icon> {{cliente.email}}</h6>
        <h6><ion-icon name="call-outline"></ion-icon> {{cliente.movil}}</h6>
      </div>
    </ion-item>
  </ion-list>
</ion-content>