<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>
  <ion-item>
    <ion-title>{{cliente.Nombre}}</ion-title>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Categoría" (ionChange)="categoria($event)">
      <ion-select-option value="Todo">Todo</ion-select-option>
      <ion-select-option value="Cereales">Cereales</ion-select-option>
      <ion-select-option value="Harinas">Harinas</ion-select-option>
      <ion-select-option value="Frutas">Frutas</ion-select-option>
      <ion-select-option value="Verduras">Verduras</ion-select-option>
      <ion-select-option value="Alcohol">Alcohol</ion-select-option>
      <ion-select-option value="Carne">Carne</ion-select-option>
      <ion-select-option value="Limpieza">Limpieza</ion-select-option>
      <ion-select-option value="Aceites">Aceites</ion-select-option>
      <ion-select-option value="Dulces ind.">Dulces ind.</ion-select-option>
      <ion-select-option value="Lácteos">Lácteos</ion-select-option>
    </ion-select>
    <ion-select placeholder="Ordenar" (ionChange)="categoria($event)">
      <ion-select-option value="Precio Ascendente">Precio Ascendente</ion-select-option>
      <ion-select-option value="Precio Descendente">Precio Descendente</ion-select-option>
      <ion-select-option value="Populares">Populares</ion-select-option>
    </ion-select>
    <ion-searchbar (ionChange)="buscar($event)"></ion-searchbar>
  </ion-item>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{cartItemCount | async}}</div>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card id="sinProductos" *ngIf="productos.length == 0" text-center>
    <ion-card-header>
    <ion-card-subtitle>Este proveedor aún no tiene ningún producto asociado.</ion-card-subtitle>
    <ion-button>Añadir Producto</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let producto of productos">
        <ion-card (click)="abrirProducto(producto)"> 
          <ion-card-header>
            <img src="{{producto.Foto}}" />
            <ion-card-subtitle id="subtitulo">{{producto.Nombre}}</ion-card-subtitle>
            <div class="linea"></div>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{producto.Descripcion}}</ion-label>
            <ion-row id="columna-final">
              <ion-col size="10"><p>{{producto.Precio}} €</p></ion-col>         
              <ion-col size="2"><ion-button fill="clear" id="buy-button" (click)="addToCart(producto)"><ion-icon name="cart-outline"></ion-icon></ion-button></ion-col>
            </ion-row>          
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>